@{
    ViewBag.Title = "Contact";
}
@using (Html.BeginForm())
{ 
    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Full Name</label>
        <input name="fullname" type="text" class="form-control" id="formGroupExampleInput" placeholder="John Wick">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Wtite your Message</label>
        <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <br />
    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Send Feedback</button>
}
@if (IsPost)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">fullname</th>
                <th scope="col">email</th>
                <th scope="col">message</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@ViewBag.email</th>
                <td>@ViewBag.fullname</td>
                <td>@ViewBag.message</td>
            </tr>

        </tbody>
    </table>
}