
@{
    ViewBag.Title = "login";
}
<h1> Login Page</h1>
<form action="/Home/login" method="post">
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" id="form2Example1" name="email" class="form-control" />
        <label class="form-label" for="form2Example1">Email address</label>
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="form2Example2" name="password" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
    </div>

    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Log in</button>
</form>

